@import "tailwindcss";

@layer theme{

}
@layer base{
    p{
        font-size: var(--text-lg);
        font-weight: 400;
    }
    li{
        font-size: var(--text-lg);
    }
    h1{
        font-size: var(--text-4xl)
    }
}

@layer components{
    
}