@import "tailwindcss";

@theme{
    --color-navy: #004186;
    --color-gold: #E8BC41;

    --color-cbutton1: #133969;
    --color-cbutton2: #295A8E;
    --color-cbutton3: #2B70BB;

    --color-cmenu1: #062343;
    --color-cmenu2: #FFBC00;

    --color-cpaklay: #FFE492;

    --font-poppins: "Poppins", sans-serif;
}

@layer base{
    /* a{
        font-size: 16px;
    } */
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 9999px;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
