@import "tailwindcss";

@theme{
    --color-navy: #004186;
    --color-gold: #E8BC41;

    --color-cbutton1: #133969;
    --color-cbutton2: #295A8E;
    --color-cbutton3: #2B70BB;

    --color-cmenu1: #062343;
    --color-cmenu2: #FFBC00;

    --color-cpaklay: #FFE492;

    --font-poppins: "Poppins", sans-serif;
}

@layer base{
    /* a{
        font-size: 16px;
    } */
}

/* input[type="date"]{
    
    &::-webkit-calendar-picker-indicator{
        mask-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#123021' viewBox='0 0 24 24' %3E%3Cg%3E%3Cpath d='M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
    
} */